//
// Spinner
// ------------------------------
@import 'mixins';

@mixin dots-loading($size, $float, $marginSpace, $backgroundColour)
{

 width: $size;
 height: $size;
 float: $float;
 margin-right: $marginSpace;
 background-color: darken($backgroundColour, 50%);
}

@keyframes dots-loader {
 0% {
   opacity: .15;
   @include transform(scale(1,1));
 }
 24% {
   opacity: 1;
   @include transform(scale(1.2,1.2));
 }
 48% {
   opacity: .15;
   @include transform(scale(1,1));
 }
 100% {}
}

@-o-keyframes dots-loader {
 0% {
   opacity: .15;
   @include transform(scale(1,1));
 }
 24% {
   opacity: 1;
   @include transform(scale(1.2,1.2));
 }
 48% {
   opacity: .15;
   @include transform(scale(1,1));
 }
 100% {}
}

@-ms-keyframes dots-loader {
 0% {
   opacity: .15;
   @include transform(scale(1,1));
 }
 24% {
   opacity: 1;
   @include transform(scale(1.2,1.2));
 }
 48% {
   opacity: .15;
   @include transform(scale(1,1));
 }
 100% {}
}

@-moz-keyframes dots-loader {
 0% {
   opacity: .15;
   @include transform(scale(1,1));
 }
 24% {
   opacity: 1;
   @include transform(scale(1.2,1.2));
 }
 48% {
   opacity: .15;
   @include transform(scale(1,1));
 }
 100% {}
}

@-webkit-keyframes dots-loader {
 0% {
   opacity: .15;
   @include transform(scale(1,1));
 }
 24% {
   opacity: 1;
   @include transform(scale(1.2,1.2));
 }
 48% {
   opacity: .15;
   @include transform(scale(1,1));
 }
 100% {}
}
